@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

/* -----font styles----- */
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

.main-section {
    background-color: #f1dcc2;
}

/* ------nab bar------ */
nav {
    display: flex;
    padding-right: 20px;
    padding-left: 40px;
    align-items: center;
    justify-content: space-between;
}

nav>h1 {
    font-size: 40px;
}


nav>ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.header-section {
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    font-weight: 700px;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
}

.section-description {
    text-align: center;
}

.section-button {
    background-color: #FD6E0A;
    padding: 13px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
}

.image-section {
    margin-top: 20px;
    text-align: center;
    background-size: cover;
}

.feature-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 100px;
    grid-gap: 50px;
}

@media only screen and (max-width: 600px) {
    .feature-section {
        display: block;
        padding: 30px 10px;
    }
}

.feature-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.feature-images>img {
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: -10;
}


.feature-text {
    padding-top: 180px;
    /* transition-duration: 1s;
    transition-property: transform; */
}

/* .feature-text:hover {
    transform: skew(20deg, 10deg);
    ;
} */

.journey-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 90px;
    grid-gap: 50px;
    position: relative;
    justify-items: center;
}

.text-content {
    color: #727272;
}

.our-text {
    color: #131313;
    font-weight: 500px;
    font-size: 38px;
}

.feature-text {

    margin: 100px;
}

.text-feature {
    color: #FD6E0A;
    text-align: start;
}

.p-text {
    color: rgb(39, 38, 38);
}

@media only screen and (max-width: 600px) {
    nav>h1 {
        font-size: 30px;
    }

    .journey-section {
        display: block;
        padding: 20px 10px;

    }
}

.text-card {
    padding: 20px;
    background-color: rgb(244 247 247);
    color: black;
    margin: 30px;
    font-size: 14px;
    box-shadow: 5px black;
    border-radius: 5px;
    /* border: 2px solid rgb(175, 173, 173); */
}

.journey-img {
    margin-left: 60px;
}


.sticker-card {
    background-color: #f3761d;
    text-align: center;
    padding: 10px 40px;
    width: fit-content;
    color: white;
    font-weight: 900;
    z-index: 50;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
}

.facts-section {
    padding: 150px;

}

/* -------My  portfolio------*/
.my-portfolio {
    display: flex;
    justify-content: center;
    gap: 200px;
    text-align: center;
    margin-bottom: 100px;
    transition-duration: 1s;
    transition-property: transform;
    /* border: 2px solid #f3761d; */
}

.icon-ribon:hover {
    transform: skew(20deg, 20deg);
}

.icon-projects:hover {
    transform: rotate(30deg);
}

.icon-customers:hover {
    transform: skew(20deg, 20deg);
}

.icon-email:hover {
    transform: rotate(60deg);
}

.icon-ribon,
.icon-projects,
.icon-customers,
.icon-email {
    width: 200px;
    height: 200px;
    padding-top: 10px;
    border: 1px solid #f3761d;
    border-radius: 8px;
}

.count {
    font-size: 40px;
}

.portfolio-text {
    text-decoration: solid;
    color: #727272;
}

.team-title {
    text-align: center;
    font-size: 30px;
}

.team-member {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin: 30px 0px;
}

.member {
    border-radius: 50%;
}

.sponsors {
    text-align: center;
}



.sponsors-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    filter: grayscale(1);
    padding-top: 40px;
}


.footer {
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}

@media only screen and (max-width: 600px) {
    nav {
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    .member {
        width: 100%;
    }

    nav>ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    .image-section>img {
        width: 100%;
    }

    .section-title {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .section-description {
        text-align: center;
        padding: 10px;
    }

    .journey-img {
        margin-left: 0px;
        width: 100%;
        background-size: cover;
        margin: 10px;

    }

    .text-card {
        margin: 10px;
        padding: 10px;
    }



    .my-portfolio {
        flex-wrap: wrap;
        gap: 10px;
        transition-duration: 1s;
        transition-property: transform;
    }

    .sponsors-img {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;
    }


    .facts-section {
        padding: 20px;

    }

    .icon-ribon,
    .icon-projects,
    .icon-customers,
    .icon-email {
        width: 160px;
        height: 160px;
        padding-top: 10px;
        border: 1px solid #f3761d;
        border-radius: 8px;
    }

    .count {
        font-size: 20px;
        margin: 5px;
    }

    .portfolio-text {
        font-size: 16px;
    }
}